  <div class="container">
      <button class="column third button form-button">
        <%= link_to "New Event", new_admin_event_path(@event) %>
      </button>
    <% @events.each do |event| %>
      <div class="event-item column third">
        <%=link_to image_tag("http://lorempixel.com/400/200/nightlife/5"), admin_event_path(event)%> <%# will use paperclip to add event.picture %>
        <h3>
          <%= link_to "#{event.name}", admin_event_path(event), class: "event-links" %>
        </h3>
      </div>
  <%# add breakpoints and change class from half to desired width %>
      <% end %>
  </div>
