<div class="container">
  <% @events.each do |event| %>
    <div class="event-item column third">
      <%=link_to image_tag("http://lorempixel.com/400/200/nightlife/5"), event_path(event)%> <%# will use paperclip to add event.picture %>
      <h3>
        <%="#{event.name}" %>
      </h3>
    </div>
<%# add breakpoints and change class from half to desired width %>
    <% end %>
</div
