<section class="header-content"><!-- hero content -->
    <h1 class="header-title">Get the party started!
        </br>
        </br>
            <%= link_to "Start Here", root_path, class: "button header-button" %>
    </h1>




</section>
