- @attendees.each do |attendee|
  = link_to "#{attendee.first_name} #{attendee.last_name}", admin_attendee_path(attendee)
%div
  = link_to "New Attendee", new_admin_attendee_path(@attendee), class: "button form-button"
