<h1> This is the show page for the admin.</h1>


<div class="all-events">
  <h3 class="event-index-title">All Events</h3>
  <%= link_to "All Events", admin_events_path %>
</div>

<div class="all-events">
  <h3 class="attendees-index-title">All Attendees</h3>
  <%= link_to "All Attendees", admin_attendees_path %>
</div>
