<div class="space"></div>
<div class="container">
  <div class="dash-links-set">
    <div class="dash-link column half">
      <div class="round-button center">
        <div class="round-button-circle">
          <%= link_to "Events", admin_events_path %>
        </div>
      </div>
    </div>
    <div class="dash-link column half">
      <div class="round-button center">
        <div class="round-button-circle">
          <%= link_to "Attendees", admin_attendees_path %>
        </div>
      </div>
    </div>
  </div>
</div>
