%h1 This is the show page for the admin.
.all-events
  %h3.event-index-title All Events
  = link_to "All Events", admin_events_path
.all-events
  %h3.attendees-index-title All Attendees
  = link_to "All Attendees", admin_attendees_path
