= form_tag charges_path do
  %script.stripe-button{"data-amount" => "<haml_loud", "data-key" => @stripe_btn_data[:key], :src => "https://checkout.stripe.com/checkout.js"}
    :cdata
      @stripe_btn_data[:amount]
